version: "3.9"

services:
  server:
    container_name: whatsapp-webjs-wrapper-bot-server
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "6662:6662"
